.CartLink {
  display: flex;
  width: 100px;
  align-items: center;
}

.CartLink a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.CartLink img {
  width: 35px;
}

.Together {
  display: flex;
  margin-left: 20px;
}

.CartLink {
  color: green;
}
