.ProductList .Product {
  display: flex;
  flex-direction: column;
  max-width: 253px;

  border-radius: 5px;
  margin: 20px;
}
.ProductList {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.ProductList .Product img {
  width: 250%;
  border-radius: 5px;
  box-shadow: 0 0 10px 0px rgb(205, 105, 139);
  transition: 0.5s;
}
.ProductList .Product img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px 1px rgb(138, 63, 88);
}
.ProductList .Product span {
  color: rgb(130, 56, 81);
  font-weight: 900;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.ProductList .Product .About-product {
  color: rgb(130, 56, 81);
  text-decoration: none;
  font-size: 15px;
}

.ProductList .Product p {
  font-weight: 600;
  color: rgb(130, 56, 81);
}
.ProductList .Color-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 20px;
  margin-top: -10px;
}

.Product .AddToCart button {
  color: rgb(245, 235, 238);
  background-color: rgb(201, 129, 153);
  display: flex;
  align-items: center;

  margin-top: -10px;
  margin-left: 75px;
  margin-bottom: 10px;
  box-shadow: 0 8px rgb(158, 100, 119);
  border-radius: 18px;
  transition: 0.5s;
}

.Product .AddToCart button:hover {
  background-color: rgb(223, 169, 187);
  box-shadow: 0 8px rgb(186, 136, 153);
}
.Product .AddToCart button:active {
  box-shadow: 0 6px rgb(158, 100, 119);
  transform: translateY(4px);
  background-color: rgb(201, 129, 153);
  transition: 0.5s;
}

.Product .Product-name {
  font-size: 18px;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 0, 166);
}

.Name-img {
  position: relative;
}

.Product-name {
  position: absolute;
  left: 10px;
  top: 6px;
  font-family: monospace;
}
.Categoryyy span {
  color: rgb(177, 103, 103);
  list-style-type: none;
  margin: 25px;
  font-size: 18px;
  text-decoration: none;
}

.ProductList .Categoryyy {
  text-decoration: none;
  display: flex;
  list-style-type: none;
}
.productlist2 {
  display: flex;
  flex-wrap: wrap;
  margin: 59px;
}
@media screen and (max-width: 600px) {
  .Categoryyy span {
    color: rgb(177, 103, 103);
    list-style-type: none;
    margin: 12px;
    font-size: 15px;
    text-decoration: none;
  }
}

@media screen and (max-width: 450px) {
  .Categoryyy span {
    color: rgb(177, 103, 103);
    list-style-type: none;
    margin: 7px;
    font-size: 10px;
    text-decoration: none;
  }

  .productlist2 {
    display: flex;
    flex-wrap: wrap;
    margin: 29px;
  }
}
