.ProductList .Product {
  display: flex;
  flex-direction: column;
  max-width: 253px;
  border: 1px solid rgb(202, 194, 194);
  border-radius: 5px;
}

.ProductList .Product img {
  width: 250%;
  border-radius: 5px;
}
.ProductList .Product span {
  color: rgb(130, 56, 81);
  font-weight: 900;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.ProductList .Product .About-product {
  color: rgb(130, 56, 81);
  text-decoration: none;
  font-size: 15px;
}

.ProductList .Product p {
  font-weight: 600;
  color: rgb(130, 56, 81);
}
.ProductList .Tried {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 20px;
}
