.CartList {
  flex-wrap: wrap;
}

.CartList .CartItem {
  padding: 10px 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid rgb(158, 104, 104);
  border-radius: 15px;
  margin: 25px 50px;
  flex-wrap: wrap;
  box-shadow: 10px 5px 5px 5px rgb(240, 227, 227);
  background-color: white;
}

.CartList .CartItem img {
  width: 150px;
}
.Delete_icon {
  max-width: 70px;
  margin-top: 0px;
}

.CartList input {
  border: 1px solid rgb(158, 104, 104);
  border-radius: 5px;
  padding: 5px 8px;
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 25px;
  background-color: transparent;
  margin-bottom: 40px;
  width: 11%;
}

.CartList a {
  color: rgb(158, 104, 104);
  font-weight: 600;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
}

.CartList span {
  color: rgb(196, 128, 128);
  font-family: cursive;
  font-weight: 700;
  margin-right: 20px;
  font-size: 20px;
}
.ProductSlug {
  max-width: 80px;
}
.InputButton button {
  margin-left: 20px;
  color: white;
  background-color: rgb(211, 144, 144);
  cursor: pointer;
  transition: 0.5s;
}

.InputButton button:hover {
  background-color: rgb(188, 125, 125);
  color: rgb(245, 242, 242);
}
.CartItem input {
  max-width: 35px;
}
