.OrderForm form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(227, 172, 172);
}

.OrderForm input {
  background-color: rgb(251, 245, 247);
  border: 1px solid rgb(194, 164, 164);
  border-radius: 10px;
  padding: 12px;
  margin: 5px;
  color: brown;
}

.OrderForm input:focus {
  outline: none;
}

.OrderForm span {
  color: rgb(251, 245, 247);
  display: block;
  font-weight: 600;
}

.OrderForm h3 {
  color: rgb(251, 245, 247);
}

.OrderForm button {
  color: white;
  margin-bottom: 50px;
  margin-top: 25px;
  padding: 8px 30px;
  background-color: rgb(196, 115, 115);
  border: 1px solid rgb(230, 135, 135);
  cursor: pointer;
  transition: 0.5s;
}

.OrderForm button:hover {
  background-color: rgb(168, 101, 101);
  border: 1px solid rgb(119, 41, 41);
  color: rgb(249, 244, 244);
}

.OrderForm img {
  border-radius: 50px;
  border: 1px solid brown;
}

.Please {
  color: white;
  font-weight: 700;
  padding: 20px;
  text-align: center;
  background-color: rgb(233, 153, 153);
  font-size: 22px;
}

.Empty {
  text-align: center;
  height: 800px;
  font-size: 25px;
  padding-top: 50px;
  color: brown;
  font-weight: 600;
}
