.Layout {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.Layout header {
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: #fcc4bf;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  background-color: #f5b7b1;
}
.Layout aside {
  flex: 20% 0 0;
  background-color: rgb(254, 239, 239);
}

.Layout main {
  flex: 80% 1 1;
  background-color: rgb(255, 250, 250);
}

.Layout footer {
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: #fcc4bf;
  padding: 100px;
}
.Product img {
  width: 200px;
}
