.Layout {
  max-width: 789px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.Layout header {
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: antiquewhite;
}

.Layout aside {
  flex: 20% 0 0;
  background-color: azure;
}

.Layout main {
  flex: 80% 1 1;
  background-color: rgb(197, 159, 233);
}

.Layout footer {
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: rgb(191, 186, 186);
}
