.Eyes {
  width: 100%;
  border: 2px solid rgb(219, 101, 101);
  border-radius: 3px;
}

.Contacts .Col-3 {
  font-size: 20px;
  line-height: 32px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(156, 73, 73);
  text-align: center;
  transition: 0.5s;
  cursor: pointer;
}

.Contacts .Col-3:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.Contacts h1 {
  text-align: center;
  color: rgb(155, 73, 73);
}

.Contacts p {
  text-align: center;
  color: brown;
  font-size: 17px;
}

.Tel {
  text-align: center;
  color: brown;
  font-size: 18px;
  transition: 0.5;
  text-decoration: none;
}

.Email {
  text-align: center;
  color: brown;
  font-size: 18px;
  transition: 0.5;
  text-decoration: none;
}

@media (max-width: 750px) {
  .Eyes {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
  }

  .Tel .Col-3 {
    font-size: 15px;
    line-height: 18px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(156, 73, 73);
    text-align: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 550px) {
  .Eyes {
    width: 100%;
  }

  .Contacts .Col-3 {
    font-size: 10px;
    line-height: 12px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(156, 73, 73);
    text-align: center;
  }
  a:hover {
    color: rgb(251, 25, 25);
    transition: 0.5s;
  }
  .Contacts h1 {
    text-align: center;
    color: rgb(155, 73, 73);
    font-size: 10px;
    flex: 100% 0 0;
  }

  .Tel {
    text-align: center;
    color: brown;
    font-size: 10px;
  }
}
