.Productt {
  color: rgb(168, 77, 77);
}

.Productt h1 {
  text-align: center;
  font-size: 27px;
  padding-top: 50px;
  margin-bottom: -40px;
  padding-left: 120px;
}

.Productt img {
  height: 289px;
  width: 265px;
  border: 2px solid rgb(176, 132, 132);
  border-radius: 15px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: -50px;
}

.Productt .Picture-des {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}

.Productt .Price-button {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  transition: 0.5s;
  font-size: 25px;
}

.Productt span {
  padding-left: 40px;
  font-size: 21px;
  margin: 25px;
}

.Productt p {
  width: 60%;
  margin-top: 40px;
  text-align: center;
  display: inline-block;
}
@media (max-width: 750px) {
  .Productt img {
    height: 170px;
    width: 160px;
    border: 2px solid rgb(176, 132, 132);
    border-radius: 15px;
  }

  .Productt .Picture-des {
    display: flex;
    justify-content: space-between;
  }

  .Productt .Price-button {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    transition: 0.5s;
  }

  .Productt span {
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
  }

  .Productt p {
    display: none;
  }
  .Productt h1 {
    text-align: center;
    font-size: 27px;
    padding-top: 50px;
    margin-bottom: 40px;
    padding-left: 120px;
  }
}
