.NavToggle {
  display: none;
  padding: 5px 5px;
  cursor: pointer;
  background-color: transparent;
  border: none;

  margin-left: 58px;
  transition: 0.4s;
}
.NavToggle .line {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: #b91f61;
  border-radius: 50%;
}

.NavToggle:hover {
  background-color: transparent;
}

@media (max-width: 998px) {
  .NavToggle {
    display: inline-block;
  }
}
