.footer {
  color: #fff;
}

.footer-column a {
  text-decoration: none;
  color: #fff;
}

.footer-heading {
  font-size: 18px;
}

.footer-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-list li {
  margin-bottom: 10px;
  font-size: 14px;
}

.network-icons {
  display: flex;
  justify-content: space-evenly;
}

.network-icons .bi {
  width: 30px;
  height: 30px;
}

.footer-list li:hover {
  cursor: pointer;
  color: #ff00bb;
}

.footer-column a:hover {
  color: #e869b5;
}

.network-icons .bi:hover {
  cursor: pointer;
  color: #ff00bb;
}
.contacts {
  display: flex;
  justify-content: space-evenly;

  margin-top: 45px;
  color: #e869b5;
}
.contacts a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.privacy {
  display: flex;
  justify-content: space-evenly;
  margin-top: 65px;
  color: #e869b5;
}

.privacy a {
  color: white;
  font-size: 15px;
}

.coty {
  color: white;
  text-align: center;
  font-size: 12px;
  margin-top: 25px;
}

@media screen and (max-width: 808px) {
  .contacts {
    display: flex;
    justify-content: space-evenly;

    margin-top: 45px;
    color: #e869b5;
  }
  .contacts a {
    color: white;
    text-decoration: none;
    font-size: 13px;
  }

  .privacy {
    display: flex;
    justify-content: space-evenly;
    margin-top: 65px;
    color: #e869b5;
  }

  .privacy a {
    color: white;
    font-size: 12px;
  }

  .coty {
    color: white;
    text-align: center;
    font-size: 10px;
    margin-top: 25px;
  }
}

@media screen and (max-width: 540px) {
  .privacy a {
    display: none;
  }
  .contacts a {
    color: white;
    text-decoration: none;
    font-size: 8px;
  }
  .coty {
    color: white;
    text-align: center;
    font-size: 6px;
  }
}
