.CategoryList ul li a {
  text-decoration: none;
  font-weight: 900;

  color: #c86960;
  font-size: 22px;
  display: flex;
  justify-content: center;
  margin: 10px;
}
.CategoryList li {
  list-style-type: none;
  text-decoration: none;
}

.CategoryList ul a:hover {
  color: #ec574a;
  transform: scale(1.1);
  transition: 0.5s;
}
.CategoryList ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.CategoryList p {
  color: #c86960;
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  margin-top: 45px;
}

.CategoryList img {
  width: 220px;
  height: 259px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0px rgb(205, 105, 139);
  transition: 0.5s;
}
.CategoryList img:hover {
  transform: scale(0.9);
  transition: 0.5s;
  box-shadow: 0 0 19px 0px rgb(128, 60, 82);
}
.CategoryList .Category {
  display: flex;
  flex-direction: column;
  margin: 13x;
  text-align: center;
  border-radius: 5px;
}
.Category {
  color: rgb(128, 60, 82);

  text-align: center;
}
