.CategoryList ul li a {
  text-decoration: none;
  font-weight: 900;

  color: #ee8d84;
  font-size: 18px;
  padding: 17px 20px;
}
.CategoryList li {
  list-style-type: none;
  text-decoration: none;
}

.CategoryList ul a:hover {
  color: #ec574a;
}
.CategoryList ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.CategoryList img {
  width: 250px;
  height: 290px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0px rgb(205, 105, 139);
}
