@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Syne+Mono&display=swap");

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.Home h1 {
  color: #f6c7c2;
  text-align: center;
  padding-left: 55px;
  position: absolute;
}

.Home img {
  max-width: 959px;
}
