@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Syne+Mono&display=swap");

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.Home h1 {
  color: #f6c7c2;
  text-align: center;
  padding-left: 55px;
}

.Home img {
  max-width: 959px;
}
button {
  background-color: rgb(189, 98, 98);
  padding: 4px;
  border-radius: 5px;
  color: rgb(105, 32, 32);
  border: 1px solid rgb(106, 80, 80);
}

button:hover {
  background-color: rgb(136, 70, 70);
  color: rgb(228, 158, 158);
}
