@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Syne+Mono&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.Row {
  /* строка */
  display: flex;
  flex-wrap: wrap;
}

[class^="col"] {
  padding: 0 10px;
}

.Col-1 {
  flex: 8.3% 0 0;
}

.Col-2 {
  flex: 16.6% 0 0;
}

.Col-3 {
  flex: 25% 0 0;
}

.Col-4 {
  flex: 33.3% 0 0;
}

.Col-5 {
  flex: 41.6% 0 0;
}

.Col-6 {
  flex: 50% 1 1;
  flex-wrap: wrap;
}

.Col-7 {
  flex: 58.3% 0 0;
}

.Col-8 {
  flex: 66.6% 0 0;
}

.Col-9 {
  flex: 75% 0 0;
}

.Col-10 {
  flex: 83% 0 0;
}

.Col-11 {
  flex: 91.6% 0 0;
}

.Col-12 {
  flex: 100% 0 0;
}
.ThankYou {
  text-align: center;
  color: brown;
}

.NotFound {
  text-align: center;
  color: brown;
}

.DeleteProduct {
  transition: 0.5s;
  background-color: transparent;
  border: none;
  font-size: 35px;
  cursor: pointer;
}

.DeleteProduct:hover {
  background-color: transparent;
  transform: rotate(360deg);
}

.DeleteCategory {
  transition: 0.5s;
  background-color: transparent;
  border: none;
  font-size: 35px;
  cursor: pointer;
  margin-left: 110px;
}

.DeleteCategory:hover {
  background-color: transparent;
  transform: rotate(360deg);
}
.Cart {
  height: 500px;
  text-align: center;
  color: brown;
  font-size: 25px;
  padding-top: 50px;
}
