.Nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Nav ul li a {
  color: #7b241c;
  display: block;
  padding: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-decoration: none;
}
