.Nav {
  padding: 10px;
}

.Nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-direction: row;
}

.Nav ul li a {
  color: #5a2c37; /* глубокий бордово-розовый */
  display: block;
  padding: 15px 20px;
  margin-left: 50px;
  font-weight: 700;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-decoration: none;
  font-size: 17px;
  background-color: transparent;
  transition: all 0.3s ease;
}

/* Наведение курсора */
.Nav ul li a:hover {
  color: #d36c94; /* нежный розовый */
  background-color: #f9e4ea; /* светло-розовый фон для читаемости */
  border-radius: 8px;
}

/* Фокус (например, с клавиатуры) или активная ссылка */
.Nav ul li a:focus,
.Nav ul li a:active,
.Nav ul li a.active {
  color: white;
  background-color: #d36c94; /* насыщенный розовый */
  border-radius: 10px;
  box-shadow: 0 0 10px #d36c94;
}

/* Мобильная адаптация */
@media (max-width: 950px) {
  .Nav ul {
    flex-direction: column;
  }

  .Nav li {
    display: inline-block;
    position: relative;
    color: #5a2c37;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 10px 70px 10px 1px;
  }

  .Nav li:hover {
    color: #d36c94;
  }

  .Nav li::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #d36c94;
    transform-origin: bottom right;
    transition: transform 0.4s ease-out;
  }

  .Nav li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .Nav ul li a {
    color: #6c3748;
    padding: 10px;
    font-size: 16px;
  }

  .Nav ul li a:focus,
  .Nav ul li a:active,
  .Nav ul li a.active {
    color: white;
    background-color: #d36c94;
    box-shadow: 0 0 8px #d36c94;
  }
}

@media (max-width: 650px) {
  .Nav ul {
    flex-direction: column;
  }
}
