.Nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: -70px;
}

.Nav ul li a {
  color: #7b241c;
  display: block;
  padding: 20px;

  font-weight: 700;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-decoration: none;
  font-size: 17px;
}
.Nav ul li a:focus {
  color: rgb(235, 230, 230);
  background-color: #bd7d77;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 5px #bd7d77;
}

.Nav ul li a:hover {
  color: rgb(235, 230, 230);
  background-color: #bd7d77;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 5px #bd7d77;
}
